<div class="container">
  <h1 class="pt-4 text-muted text-center">Photos</h1>
  <h4 class="text-muted text-center">Viewing page <%= @flickr.page %> of <%= @flickr.pages %></h4>
  <h4 class="text-muted text-center">Total photos: <%= @flickr.total %> </h4>
  <%= render 'pagination', collection: @flickr %>
</div>

<div class="container-fluid py-5 photos">
  <div class="card-columns">
    <% @flickr.collection.each do |photo| %>
        <div
        class="card b-0 p-0 <%= "#{photo.orientation} height-#{photo.height} width-#{photo.width}" %>"
        style="background-image: url(<%= photo.src %>)" >
          <%= image_tag(
            photo_placeholder(photo),
            :title => photo.title,
            :alt => photo.title,
            :class => "card-img-top img-fluid b-0 m-0 p-0"
          ) %>
          <div class="photoInfo">
            <a href="#" title="View larger image" class="zoom fa fa-search " data-toggle="modal" data-target=".modal-profile-lg" >
              <img class="img-fluid" src="<%= photo.src %>" />
            </a>
            <br/>
            <%= link_to '', photo.link_src, :class => "flickr fa fa-flickr", :title => 'View on Flickr', :target => '_blank' %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= render 'pagination', collection: @flickr %>
<%= render 'modal' %>

