<% @rider.extend(RiderView) %>
  <%= render 'shared/notifications', model: @rider  %>

<section class="py-5 container <%= css_crud %>">
  <div class="card crud" style="width: 25rem;">

    <h3 class="card-title text-center pb-2">Rider info:</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">
        <strong>Name:</strong>
        <%= @rider.full_name %>
      </li>

      <li class="list-group-item text-center">
        <strong>City of origin:</strong>
        <%= @rider.city_of_origin %>
      </li>

      <nav class="nav justify-content-center">
        <%= link_to 'Back', riders_path, :class => 'item nav-link border-left border-right'  %>
      </nav>

    </ul>
  </div>
</section>